.clothes-card .ant-card-cover {
    text-align: center;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.clothes-card-rate {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.clothes-card-price {
    display: flex;
    margin-top: 8px;
    justify-content: center;
}

.clothes-card-image {
    margin-top: 24px;
}

.clothes-card-price, .ant-rate-star:not(:last-child) {
    margin-right: 2px;
}

.button {
    background-color: white;
}
